{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block content %}
    {% if articles %}
    {% from '_includes/_defaults.html' import RECENT_ARTICLES_COUNT, ARCHIVES_URL with context %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
                {% for article in articles_page.object_list %}
                    {% if loop.first and not articles_page.has_previous() %}
                        <aside id="featured" class="body">
                            <article class="article">
                                <header class="page-header">
                                    <h1>
                                        <a href="{{ SITEURL }}/{{ article.url }}">
                                            {{ article.title }}
                                            {% if article.subtitle %}
                                                <small class="subtitle">
                                                    {{ article.subtitle }}
                                                </small>
                                            {% endif %}
                                        </a>
                                    </h1>
                                </header>

                                {% include 'article_infos.html' %}

                                <div class="article-content">
                                    <br />
                                    {{ article.content }}
                            </article>
                            {% if loop.length == 1 %}
                                {% include 'pagination.html' %}
                            {% endif %}
                        </aside><!-- /#featured -->
                        {% if loop.length > 1 %}
                            <div class="recent-post-list">
                            <h3 id="recent-posts">Recent Posts</h3>
                            <ol id="posts-list" class="hfeed">
                        {% endif %}
                        {# other items #}
                    {% else %}
            {% if loop.first and articles_page.has_previous %}
        <br />
                    <div id="content" class="body">
                    <ol id="posts-list" class="hfeed" start="{{ articles_paginator.per_page -1 }}">
                {% endif %}
                    <header>
                        <h5><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                               title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h5>
                    </header>

                        {% include 'article_infos.html' %}
                    <div class="read-more">
                        <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
                    </div>
                    <div class="recent-post-summary">
                        {{ article.summary }}
                    </div><!-- /.entry-content -->

                {% if loop.last %}
                    </ol><!-- /#posts-list -->
                    {% if loop.last and (articles_page.has_previous()
                    or not articles_page.has_previous() and loop.length > 1) %}
                        {% include 'pagination.html' %}
                    {% endif %}
                    </div><!-- /#content -->
                    {% endif %}
                    {% endif %}
    {% endfor %}
        </div>
        </div>

{% endif %}
{% endblock content %}
