{% extends 'base.html' %}

{% block title %}
    Search - {{ SITENAME|striptags }}
{% endblock title %}

{% block content %}


<div class="article">
    <div id="lunr_search_content"></div>
</div>
    <script>
        var idx = lunr(function () {
            this.ref('name')
            this.field('summary')

            documents.forEach(function (doc) {
                this.add(doc)
            }, this)
        })
    </script>
    <script src={{ SITE_URL }}/js/lunr.js></script>
    <script src={{ SITE_URL }}/lunr-index.js></script>

{% endblock content %}

