{% extends 'base.html' %}

{% block title %}
All Tags · {{ super() }}
{% endblock title %}

{% block head_description %}
All tags used in the {{ SITENAME|striptags|e }} blog.
{% endblock head_description %}

{% block content %}
{% from '_includes/_defaults.html' import TAGS_URL with context %}
<div class="article">

    <header class="page-header col-md-8 col-md-offset-2">
    <h1><a href="{{ SITEURL }}/{{ TAGS_URL }}">All Post Tags</a></h1>
    </header>

<div class="row">
    <div class="row justify-content-md-center">
        <form class="d-flex">
            <input type="text" class="form-control rounded-pill mx-2" id="tag-input" placeholder="Find a tag" onkeyup="filterList()" aria-label="Search">
        </form>
        <ul class="list-of-tags">
            {% for tag, articles in tags|sort %}
            {% set num = articles|count %}
            <li>
            <a href="#{{ tag.slug }}-ref">{{ tag }}<span><sup>{{ num }}</sup></span></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="row justify-content-md-center">
        {% for tag, articles in tags|sort %}
        <h2 id="{{ tag.slug }}-ref" class="tag-title">{{ tag }}</h2>
        <ul class="list-articles-under-tag-category">
            {% for article in articles|sort(reverse = true, attribute = 'date') %}
            <li itemscope>
                <a href="{{ SITEURL }}/{{ article.url }}">
                    {{ article.title }}
                    {% if article.subtitle %}
                    <small class="subtitle">
                        {{ article.subtitle }}
                    </small>
                    {% endif %}
                </a>
                <time itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">
                    {{ article.locale_date }}
                </time>
            </li>
            {% endfor %}
        </ul>

        {% endfor %}
    </div>
</div>
</div>
{% endblock content %}

{% block script %}
<script>
    function filterList() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('tag-input');
        filter = input.value.toUpperCase();
        ul = document.getElementById("list-of-tags");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            let filters = filter.split(" ")
            filters = filters.filter(f => f.length)

            let shouldDisplay = true
            filters.forEach(filt => {
                shouldDisplay = shouldDisplay && txtValue.toUpperCase().includes(filt)
            })

            li[i].style.display = (shouldDisplay || filters.length === 0) ? "" : "none";
        }
    }
</script>

{% endblock script %}
